<div class="row">
        <div  id="atm"> 
                <div class="row">
                        <div class="col-2" style="margin-top:3rem;">              
                                <app-botones> </app-botones>
                        </div>
                        <div class="col-8" id="pantalla">              
                                <app-pantalla> </app-pantalla>       
                        </div>
                        <div class="col-2"  style="margin-top:3rem">              
                                <app-botones> </app-botones>
                        </div>         
                </div>
                <div class="row">
                        <div class="col-7 clearfix" id="ranura">              
                        <hr>
                        </div>  
                </div>
                <div class="row">
                
                        <div class="col-6" >   
                                <div id="teclado">
                                        <app-teclado></app-teclado>
                                </div>           
                        <!-- <app-pantalla> </app-pantalla>-->       
                        </div>
                        
                </div> 
                        
        </div>
</div>

