#atm
{
    padding: 30px;
    width:1000px;
    height: 800px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 3px solid rgba(60, 61, 71, 0.781);
    background-color: rgb(180,192,190);
    position:absolute;
    left:56%;
    margin-left:-600px;
}
#pantalla
{
    padding-top: 20px;
    margin:0 auto;
    height: 300px;
    background-color: rgb(237,236,242);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}
#ranura
{
    /*padding: 10px;*/
    margin-top: 22px;
    margin-left: 12.8rem;
    width: 10px;
    background-color:  rgb(237,236,242);
    border: 10px solid  rgb(237,236,242);
    border-radius: 8px;
}
#ranura hr {
   border: 4px solid rgb(87,84,100);
}
#botones
{
    margin-top: 370px;
   /* margin-left: 470px;*/
}
#teclado
{
    margin-top: 60px;
    padding-top: 20px;
    margin-left: 15.3rem;
    width: 100%;
    height: 290px;
    background-color:rgb(87,84,100);
    border: 3px solid rgb(87,84,100);
    border-radius: 10px;
}
