button{
    width: 4rem;
    height: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
#cancelar
{
    width: 8rem;
    border: 3px solid rgb(172, 19, 14);
}
#borrar
{
    width: 8rem;
    border: 3px solid rgb(223, 219, 21);
}
#aceptar
{
    width: 8rem;
    border: 3px solid rgb(14, 172, 27);
}
