<div class="row">
    <div class="col-12" style="text-align:center"> 
      <button (click)="numeros(num1)" value="1" #num1 type="button">1</button>
      <button (click)="numeros(num2)" value="2" #num2 type="button">2</button>
      <button (click)="numeros(num3)" value="3" #num3 type="button">3</button>
      <button id="cancelar" (click)="atmService.cancelar()">CANCELAR</button>  
     
    </div>
</div>
<div class="row">
    <div class="col-12" style="text-align:center">
      <button (click)="numeros(num4)" value="4" #num4 type="button">4</button>
      <button (click)="numeros(num5)" value="5" #num5 type="button">5</button>
      <button (click)="numeros(num6)" value="6" #num6 type="button">6</button>
      <button id="borrar" (click)="atmService.borrar()" >BORRAR</button>
      
    </div>
</div>
<div class="row">
    <div class="col-12" style="text-align:center">
      <button (click)="numeros(num7)" value="7" #num7 type="button">7</button>
      <button (click)="numeros(num8)" value="8" #num8 type="button">8</button>
      <button (click)="numeros(num9)" value="9" #num9 type="button">9</button>
      <button id="aceptar" (click)="atmService.aceptar()">ACEPTAR</button> 
       
    </div>
</div>
<div class="row" >
    <div class="col-12" style="margin-left:7rem">
     
      <button (click)="numeros(num0)" value="0" #num0 type="button">0</button> 
     
    </div>
</div>


    