<div class="row">
    <div class="col-12">
        <div class="container" style="text-align:center">
                <h1>{{mensajesService.mensaje}}</h1>
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-12">
        <div class="container" style="text-align:center">  
            <!--<input type="number" min="1" placeholder="Ingrese el monto" id="monto" [(ngModel)]="monto"><br><br>-->
            <div class="row">
                 <div class="col-12" >
                            <h6>{{atmService.sub_mensaje}}</h6> 
                       <span *ngIf="atmService.di == 1">
                            N° Cuenta <input (click)="actual(num_cuenta)" name="1" #num_cuenta [(ngModel)]="atmService.num_cuenta"  type="number">  
                            Contraseña <input  (click)="actual(contrasena)" name="2" #contrasena [(ngModel)]="atmService.contrasena" #contrasena type="password">
                       </span>             
                </div>
                
            </div>
                <div class="row" *ngIf="atmService.di == 3">
                    <div class="col-6" style="text-align:left">
                            <h5> <---- Consultar  </h5>
                    </div>
                    <div class="col-6" style="text-align:right">
                            <h5> Depositar ----> </h5>
                    </div>
                    <div class="col-12" style="text-align:right;margin-top: 2rem;">
                            <h5> Retirar----> </h5>
                    </div> 
                </div> 
            
            
           
             <!-- <h4>{{total}} {{rta}}</h4> -->   
        </div>      
    </div>
</div>

<!--<div id="acciones">
    <div class="row">
        <div class="col-12" style="text-align:right">
            <button (click)="Depositar()">Depositar</button><br>  
        </div>
    </div><br>
    <div class="row">
        <div class="col-12" style="text-align:right">
            <button (click)="Retirar()">Retirar</button><br>
        </div>
    </div><br>
    <div class="row">
        <div class="col-12" style="text-align:right">
            <button (click)="Consultar()">Consultar</button><br>
        </div>
    </div>
</div>-->
