h2
{
    color: rgb(0, 0, 0);
}
h3
{
    color: rgb(0, 0, 0);
}
#acciones
{
    float: center;
    margin-top: 100px;
    margin-left: 470px;
}
input
{
   width: 200px;
   height: 40px;
   background-color: rgb(157, 168, 168);
   color:
}
button
{
   width: 200px;
   height: 50px;
   border-radius: 10px;
}
h4
{
    /*color: rgb(217, 255, 0);*/
    color: aqua;
}