#container
{
    height:600px;
    width:1000px;
    background-color: rgb(124, 143, 145);
    margin: 55px 50px 50px 300px;
    padding-top: 90px;
    border-style: groove;
    border-width: 6px;
    border-color: rgb(45, 48, 53);
}
#pantalla
{
    height:400px;
    width:500px;
    margin-left: 350px;
    background-color: rgb(240, 240, 159);
    border-style: groove;
    border-width: 6px;
    border-color: dimgrey;
    padding: 10px;
   
}
#botones
{
    height:330px;
    width:200px;
    margin-left: 50px;
    background-color: rgb(10, 14, 63);
    border-style: groove;
    border-width: 6px;
    border-color: dimgrey;
    float: left;
    margin-top: 40px;
}
#b1
{
    height:60px;
    width:150px;
    background-color: rgb(124, 143, 145);
    margin-top: 25px;
    margin-left: 23px;
}
button
{
    height:60px;
    width:150px; 
}
#bt1
{
    background-color: red;
}
#bt2
{
    background-color: rgb(255, 123, 0);
}
#bt3
{
    background-color: rgb(20, 165, 15);
}
#bt4
{
    background-color: rgb(45, 48, 53);
    width: 330px;
    text-align: center;
    color: white;
}
#bt5
{
    background-color: rgb(45, 48, 53);
    width: 500px;
    text-align: center;
    color: white;
}
#ranura
{
    display:inline-block;
    width:330px;
    height:60px;
    background-color:rgb(51, 53, 66);
    margin-left: 50px;
}      
#ranura2
{
    display:inline-block;
    height:60px;
    width:500px;
    background-color:rgb(0, 13, 128);
    margin-left: 70px;
    
}
#ranuras
{
    margin-top: 50px;
    width: 100%;
    background-color:rgb(124, 143, 145);     
}
#inp_1
{
    margin-left: 80px;
}
#inp_2
{
    margin-left: 78px;
}
#inp_3
{
    margin-left: 48px;
}
#inp_4
{
    margin-left: 600px;
}
#btn_accion
{
    margin-left: 236px;
}