<div class="row">
      <div class="col-12" style="text-align:center">
                <button></button>
      </div>
</div><br>
<div class="row">
        <div class="col-12" style="text-align:center">
             <button></button>     
        </div>
</div> <br>
<div class="row">
    <div class="col-12" style="text-align:center">
            <button></button>     
    </div>
</div>

